@import "variables";

.content {
  background-color: #00000075;
  padding: 5% 15%;
  width: 70vw;

  .content__quote {
    text-align: justify;
  }

  .content__author {
    text-align: right;
    padding-top: 2%;
  }
}
