$background-color: #00011b;
$font-family-source-sans-pro: Source Sans Pro, source-sans-pro;

$mono-asteroid-gradient: linear-gradient(-45deg, #0F2027, #203A43, #2C5364);
$love-couple-gradient: linear-gradient(-45deg, #3a6186, #89253e);
$royal-gradient: linear-gradient(-45deg, #141E30, #243B55);

// breakpoints
$tablet-max-breakpoint: 1023px;
$mobile-max-breakpoint: 767px;

// loader
$loader-duration: 1.5s;
$loader-iteration-count: infinite;
$loader-direction: normal;
